services:
  db:
    image: postgres:17
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: darlingson
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
